<meta name="google" content="notranslate">
<meta name="theme-color" content="#fafafa" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#111111" media="(prefers-color-scheme: dark)">

<link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/css/style.css">

<script>
  const currentTheme
         = localStorage.getItem('theme')
        || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');

  document.documentElement.setAttribute('data-theme', currentTheme);
</script>
